
[Unit]
Description=Kintaro PCB-Script

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/KintaroSnes
ExecStart=/opt/KintaroSnes/pcb.py
SyslogIdentifier=kintaro
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

